<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Weather Application</title>
    <link href="style.css" rel="stylesheet" type="text/css"/>
</head>
<body>
<h1>Weather Application</h1>
<form action="#" th:action="@{/greeting}" th:object="${greeting}" method="post">
    <p>Write a city name: <input type="text" th:field="*{city_input}" /></p>
    <button>See weather details</button>
</form>
</body>
</html>